<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="200">
    <meta name="description" content="Affordable Web Design For Small and  Medium -sized Firms">
    <link href="css/style1.css" rel="stylesheet" type="text/css">
    <meta name="Author" content="Victor Nkuna">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This ia metadada">
    <script data-ad-client="ca-pub-7560987492042319" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!--     <script data-ad-client="ca-pub-7560987492042319" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <title>Web Design | Welcome to Vintech pty ltd Consulting </title>

<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" a="text/css">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">-->

<!--    <link rel ="stylesheet" href="/home/cs/netlify_update vintech website/style1.css">-->
<!--    <link rel="stylesheet" href="./css/font-awesome.min.css">-->
<!--    <script src="https://kit.fontawesome.com/b3671e6cc5.js" crossorigin="anonymous"></script>-->




</head>
<body style="background-color:skyblue;">
    <header>
        <div class="container">
            <div id="branding">
                <h1><i class="fa fa rocket"></i><span class="highlight">1-2-3</span>Web Design</h1>
            </div>
        <nav>
            <ul>
                <li class = "current"><a href="index.html">Home </a></li>
                <li><a href="about_us.html">About</a> </li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </nav>
        </div>



    </header>
    <section id="showcase">
        <div>
            <h1>Get Our Newsletter</h1>
            <form action="">
                <input type="email" placeholder="Enter your email address...">
                <button type="submit" class="button_1">Subscribe</button>

            </form>
        </div>


    </section>
    <section id="newsletter">

    </section>

    <section id ="boxes">
        <div class=container">
            <div class="box">
                <i class="fa fa -signal fa 5x"></i>
                <h3>Grow your Market Audience with Vintech Innovative Solutions</h3>
                <p>People dont have time to go through product or company datasheet....
                Information overload is our daily struggle,then how does business reach customers...
                    ...in the era of digital ,the demarcation between the offline and the online world is obsolete,The concept of the metaverse is here to stay,augmented reality ,Iot,ML,AL,Big Data
                    Vintech provide you with track proven market engagement systems and procesess that assist small-medium enterprise to reach their target audience,segmented  consumers in the era of big Data.
                    <!--we offer digital solutionss such as video content through sms,whatsappp,ads to your p
                    pottential consumers using machine learning systems thatment are designed to consume huge amount of
                     sentimental or textual  data and quantitative data and qualitative data to  better understand  your constumers
                     services----api----data about consumer behaviour,online,web developmetn,human centred design that solve real human problems .-->
                </p>

            </div>
            <div class="box">
                <i class ="fa fa-photo fa-5x"></i>
                <h3>Modern Website Designs</h3>
                <p>We gurantee competitive hosting services  that ensures that you get the best return of your investment
                    ,and you dont have to worry about  your technology requirement needs
                </p>
                <br>
                <p>we provide human centred website and web application solutions starting with wireframing designs that susit your business needs</p>
                <p>Oe of the downside of site template generators such Wordpress is that ,the plug might not be able to optimze ecode for perfomance </p>
                <P>The wireframe or the prototype internet  system,website/web application</P>
                 <p>Security might also be an issue for wordpress
                 based website is that the plugin  might be as reliable as customised solutions,and we at Vintech we offer better Content Management System .



                 </p>
            </div>
            <div class=""box>
                <i class="fa fa-cube fa-5px"></i>
                <h3>Super Fast Hosting bare metal servers(grid computers)</h3>
                <p>Since we live in the digial age,online system are expected to operate 24/7 sven days week,without outage,
                the reality isi that the internet as we know it is just a gigantic mall,powered by electricity
                ,application system runs atop of bare-metal computers these are highly performant computers running without sleep

                </p>


            </div>
        </div>

    </section>
    <footer>
        <p>1-2-3  Vintech (Pty Ltd Web Design ,Copyright &copy;2020</p>
    </footer>
</body>
</html>

<!--&lt;!&ndash;    <link rel="stylesheet" href="C:\Users\user\freecodecamp\website\style-linked-main-page.css" type="text\css">&ndash;&gt;-->
<!--       &lt;!&ndash;Jquery&ndash;&gt;Got a favorite Font Awesome icon?-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--&lt;!&ndash;Floating WhatsApp css&ndash;&gt;-->
<!--<link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">-->
<!--&lt;!&ndash;Floating WhatsApp javascript&ndash;&gt;-->
<!--<script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>-->

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Div where the WhatsApp will be rendered &ndash;&gt;-->
<!--  &lt;!&ndash; <div id="WAButton"></div> &ndash;&gt;-->

<!--<script type="text/javascript">  -->
<!--   $(function () {-->
<!--                $('#WAButton').floatingWhatsApp({-->
<!--               phone: '0760170851', //WhatsApp Business phone number-->
<!--               headerTitle: 'Chat with us on WhatsApp!', //Popup Title-->
<!--               popupMessage: 'Hello, how can we help you?', //Popup Message-->
<!--               showPopup: true, //Enables popup display-->
<!--               buttonImage: '<img src="whatsapp-transparent.png" />',-->
<!--               position: "right" //Position: left | right-->
<!--           });-->
<!--       });-->


<!--</script>  -->
<!--<style>-->
<!--        /* Add a black background color to the top navigation */-->
<!--        -->
<!--        .topnav {-->
<!--            background-color: #333;-->
<!--            overflow: hidden;-->
<!--        }-->
<!--        /* Style the links inside the navigation bar */-->
<!--        -->
<!--        .topnav a {-->
<!--            float: left;-->
<!--            color: #f2f2f2;-->
<!--            text-align: center;-->
<!--            padding: 14px 16px;-->
<!--            text-decoration: none;-->
<!--            font-size: 17px;-->
<!--        }-->
<!--        /* Change the color of links on hover */-->
<!--        .get-hold{-->
<!--          float: left;-->
<!--          width: 50%;-->
<!--          margin-top: 6px;-->
<!--          padding: 20px;-->
<!--        }-->
<!--         /* Style inputs */-->
<!--         input[type=text], select, textarea {-->
<!--          width: 100%;-->
<!--          padding: 12px;-->
<!--          border: 1px solid #ccc;-->
<!--          margin-top: 6px;-->
<!--          margin-bottom: 16px;-->
<!--          resize: vertical;-->
<!--        }-->
<!--        -->
<!--        input[type=submit] {-->
<!--          background-color: #4CAF50;-->
<!--          color: white;-->
<!--          padding: 12px 20px;-->
<!--          border: none;-->
<!--          cursor: pointer;-->
<!--        }-->
<!--        -->
<!--        input[type=submit]:hover {-->
<!--          background-color: #45a049;-->
<!--        }-->
<!--        -->
<!--        .topnav a:hover {-->
<!--            background-color: #ddd;-->
<!--            color: steelblue;-->
<!--        }-->
<!--        /* Add a color to the active/current link */-->
<!--        -->
<!--        .topnav a.active {-->
<!--            background-color:dodgerblues;-->
<!--            color:dodgerblue;-->
<!--        }-->
<!--        /* body{-->

<!--            background-image: url("C:\Users\user\freecodecamp\website\images\download.jpeg");-->
<!--            background-color: steelblue;-->
<!--        }-->
<!--         */-->
<!--         body{-->
<!--             background-color: dodgerblue;-->
<!--             margin: auto;-->
<!--             font-family: Arial, Helvetica, sans-serif;-->
<!--             font-size: medium;-->

<!--         }-->
<!--         -->

<!--         .align a{-->
<!--   font-size:20px;-->
<!--}-->
<!--         -->
<!--</style>-->

<!--</head>-->

<!--<body >-->
<!--    <div class="topnav">-->
<!--        <a class="active" href="index.html">Home</a>-->
<!--        <a href="productCard.html">E-commerce</a>-->
<!--        <a href="contact.html">Contact</a>-->
<!--        <a href="aboutus.html">About </a>-->
<!--    </div>-->
<!--    <br />-->

<!--    <header>-->



<!--        <div class="container">-->
<!--            <div id="branding">-->
<!--                <h2><span class="highlight">Welocme to our-commerce company:Vintech (Pty) Ltd</span></h2>-->
<!--                 <img src="branding-logo-ecommerce.png-->
<!--" />-->
<!--                -->
<!--            </div>-->
<!--&lt;!&ndash;            <br />&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; <nav>&ndash;&gt;-->
<!--&lt;!&ndash;                <ul style="padding: 0% ;margin: 0%;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="current" href="index.html">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="C:\Users\user\freecodecamp\website\VSCodeEnvironment\ecommerce postcard react\css-html-project-ecommerce&#45;&#45;reaxct\aboutus.html">About</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="C:\Users\user\freecodecamp\website\VSCodeEnvironment\ecommerce postcard react\css-html-project-ecommerce&#45;&#45;reaxct\productCard.html">Services</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </nav>  &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </header>&ndash;&gt;-->

<!--         <section id="showcase">-->
<!--             <div class ="container">-->
<!--                 <h6 style="text-align:center;color: steelblue;"> Core technological stack we use at:Vintech to build these wonderfull tools and platforms.</h6>-->
<!--                 <p>Affordable products that offer our e-store,chief among one of the services we offer is mobile web development for corparate clients,product owners in Agile  terms.-->
<!--                      ,and we offer professional Web Creation,and offer innovative fintech appliction platforms,from ideation to prototype and /final product/service,at <em style="color: darkblue;">Vintech</em> we are obssesed with customer convinience and utlisation of limited resources to acheive maximum customer satisfaction .</p>-->
<!--                 </div> -->
<!--                </section>-->


<!--                <section id="newsletter">-->
<!--                    -->
<!--                </section>-->

<!--                <section id="boxes">-->
<!--                    <div class="container">-->
<!--                        <div class="box">-->
<!--                            <img src="\html5-logo.png" />-->
<!--                            <h5>HTML Markup</h5>-->
<!--                            <p>We use the latest standard of HTML as defined by the World Wide Web  consortium</p>-->
<!--    -->
<!--                        </div>-->
<!--                       -->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <img src="css-logo.png" />-->
<!--                        <h5>Cascading stylesheet</h5>-->
<!--                        <p>We use also css ,which is also the skin that give appeal to the web application  </p>-->
<!--                    </div>-->
<!--                    <div class ="box">-->
<!--                        <img src="graphic design.jpg">-->
<!--                        <h5>Graphic Design</h5>-->
<!--                        <p>We also offer graphic design products,and templates, for corparate logos and so much more</p>-->
<!--                    </div>-->
<!--                </section>-->
<!--                <section>-->
<!--                    &lt;!&ndash;SOCIAL MEDIA FOLLIWNG STARTS HERE:&ndash;&gt;-->


<!--            <div class="align">-->
<!--                <h2><span>Follow US</span></h2>-->
<!--                <div>-->
<!--                    <a href="https://www.linkedin.com/login" target="_blank">-->
<!--                        <img src="linkdin-logo.png" style="height: auto; width: auto;" alt="Linkdin" />-->
<!--&lt;!&ndash;                        <a href="https://www.facebook.com/" alt="Facebook">&ndash;&gt;-->
<!--                            <img src="facebook-logo.jpeg" style="height: auto; width: auto;" target="_blank" />-->
<!--                            <a href="https://twitter.com/login" target="_blank">-->
<!--                                <img src="twitter-logo.png" style="height: auto; width: auto;"/>-->

<!--                                <a href="https://wa.me/!!!+27760170851!!!?text=Hi%20Victorss,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" style="text-decoration: none;" target="_blank">-->
<!--                                </a>-->
<!--                                &lt;!&ndash; <img src="C:\Users\user\VSCodeEnvironment\ecommerce postcard react\css-html-project-ecommerce&#45;&#45;reaxct\whatsapp-transparent.png width=auto height=auto"/> &ndash;&gt;-->
<!--                               -->
<!--                               <a href="https://wa.me/!!!+27760170851!!!?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" target="_blank"><img src="whatsapp-transparent.png" style="height: auto;width:auto" alt="whatsapp" /></a>-->

<!--                                </a>-->

<!--                            </a>-->
<!--                        </a>-->

<!--                </div>-->
<!--            </div>-->
<!--            <br />-->
<!--            <div style="text-decoration: solid;">-->
<!--                <p style="text-align: center;color:blue;">To see more of our products ,click on the  link,and it will take you to a more comprehensive list of our products<a style="text-decoration: none; color:steelblue href="C:\Users\user\VSCodeEnvironment\ecommerce postcard react\css-html-project-ecommerce&#45;&#45;reaxct/productCard.html">navigate to vintech (pty) ltd's product post cards</a> </p>-->

<!--             </div>-->
<!--           -->

<!--                </section>-->
<!--                <div style="text-align: center;" class="get-hold">-->
<!--                    <p style="color:blue;">You can get hold of us at using the input below:</p><br>-->
<!--                    <form action="mailto:victor.nkuna@yahoo.com" method="GET">-->
<!--                        <input type="textarea" placeholder="type your message"  required><br/>-->
<!--                        <input type="text" value="First Name:"><br/>-->
<!--                        <input type="text" value="Second Name:"><br />-->
<!--                        -->
<!--                        <input type="email" value="E-mail:"><br />  -->
<!--                        <button type="submit" onclick="submit"> Button</button>-->
<!--                    </form>-->
<!--                </div>-->

<!--            &lt;!&ndash; </article> &ndash;&gt;-->
<!--            <footer style="text-align:center;color:steelblues;">-->
<!--               <a href="productCard.html" style="text-decoration: none;color: blue;"><p> vintech (Pty) Ltd:victor.nkuna@yahoo.com copyright &copy;2020</p></a> -->
<!--            </footer>-->
<!--</body>-->
<!--</html>-->




<!--    -->



<!--    &lt;!&ndash;MOst web application/page.have header:name of website,main-section,all contnent go here-->
<!--        footer,links to social media,-->
<!--    Vincent Cerf ,computers talking to each other,multiple network systme,-->
<!--    interntet covers half of the population of the world-->
<!--     body tag is  the child of the html root document  -->
<!--     Inter-planatery communication  network:variable delay,it uses radio,no optical fibre,or lazer-->
<!--     rich connectivity,create resilence,Man and Space Robotic Exploration-->
<!--      container tags for content,or other tag&ndash;&gt;-->

















